/* reset */

* {margin: 0;padding: 0;}
.clearfix::before, .clearfix::after {display: block;content: '';clear: both;}

#wrap {width: 1200px;margin: 0 auto;color: aliceblue;}
#content {width: 900px;float: left;}

/* side */

#side {width: 300px;text-align: center;float: left;}
#side .logo {height: 150px;line-height: 150px;background-color: #999;}
#side .nav {height: 700px;line-height: 700px;background-color: #888;}

/* banner */

#banner {width: 900px; height: 450px; text-align: center; line-height: 450px;background-color: #777;}

/*contents*/

#contents {text-align: center;height: 300px;line-height: 300px;}
#contents > div {float: left;width: 300px;}
#contents > div.cont1 {background-color: #666;}
#contents > div.cont2 {background-color: #555;}
#contents > div.cont3 {background-color: #444;}

/*footer*/

#footer {text-align: center;height: 150px;}
#footer .foot1 {float: left;width: 200px;height: 100px;line-height: 100px;background-color: #333;}
#footer .foot2 {width: 700px; height: 50px;line-height: 50px;background-color: #222;float: left;}
#footer .foot3 {width: 700px; height: 50px;line-height: 50px;background-color: #111;float: left;}
