
*{padding: 0;margin: 0;}
li{list-style: none;}
.clearfix::before, .clearfix::after {display: block;content: ''; clear: both;}

/*wrap*/
#wrap {width: 1200px;margin: 0 auto;color:#fff;}

/*header*/

#header{position: relative;text-align: center; background-color: #111;}
#header .logo{position: absolute;left: 0;top: 0;z-index: 10;width: 250px;height: 100px;line-height: 100px;background-color: #111;}
#header .nav{position: relative;float: right;width: 100%; margin-top: 56px;}
#header .nav ul{padding-left: 40%;}
#header .nav ul li{position: relative;float:left;width: 25%;text-align: center;}
#header .nav ul li a{display: block;padding: 10px;font-size: 20px;background-color: #222;}
#header .nav ul li a:hover{background-color: aquamarine;}
#header .nav ul li ul.submenu{display: none;position: absolute;left: 0;top: 44px;padding-left: 0;background-color: #222;height: 176px;}
#header .nav ul li:first-child ul.submenu::after{content: '';position: absolute;left: -480px;top: 0;width: 480px;height: 176px;background-color: #222;}
#header .nav ul li ul.submenu li {width: 100%;}


#banner{text-align: center;height: 400px;line-height: 400px;background-color: #222;}

#contents{text-align: center;}
#contents > div{float: left;width: 400px;height: 247px;line-height: 247px;}
#contents > .cont1{background-color: #333;}
#contents > .cont2{background-color: #444;}
#contents > .cont3{background-color: #555;}

#footer{text-align: center;height: 100px;line-height: 100px;}
#footer .foot1{float: left;width: 200px;background-color: #666;}
#footer .foot2{float: left;width: 800px;background-color: #777;}
#footer .foot3{float: left;width: 200px;background-color: #8888;}