/* font-family: 'Do Hyeon','Nanum Gothic','Bad Script','Gamja Flower','Jua','Amiri','Arvo' sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Do+Hyeon&family=Gamja+Flower&family=Jua&family=Nanum+Gothic&family=Arvo:ital@1&family=Amiri:ital,wght@0,400;0,700;1,700&display=swap');
@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{padding: 0; margin: 0;text-align: center;font-size: 15px;font-family: 'MapoGoldenPier';font-weight: lighter;}
li{ list-style: none;}
a {text-decoration: none;}
form{border: 2px dashed;}
fieldset{border: none;}
legend {text-align: center;}
table {border-collapse:collapse;margin-top: 10px;}
button {padding: 7px;font-family: 'Jua'; border-radius: 10px;border: 1px solid; background-color: rgb(177, 134, 114);}
a:link {color : rgb(72, 51, 41);}
a:hover {color : rgb(237, 237, 237);}
a:visited { color: rgb(72, 51, 41); }

.classfix::before , .classfix::after{content: '';display: block;clear: both;}

#wrap{width: 100%;margin: 0px auto;color: #111111;}

#header{height: 100px;font-size: 1em;}
#header h1 {float: left; height: 20%;line-height: 100px;padding: 1px 40px; color: rgb(184, 127, 100); font-family: 'Arvo';font-size: 2em;}
#header .nav{float: right;}
#header > ul {width: 70%;text-align: right;}
#header li {display: inline; float: left;line-height: 100px;padding: 1px 40px;}
#header a{font-size: 1.4em;}

#banner{width:100%;}
#banner button {margin: 2%;padding: 0;background-color: rgba(237, 237, 237, 0);border: none; width: 96%;}
#banner img{width: 100%;border-radius: 20px}

#contents{ height: 470px;margin: 10px; }
#contents > div{padding: 1%;height: 470px;float: left;width: 31.33%;}

#contents .cont1{color: rgb(72, 65, 59);}
#contents .cont1 table {border-style: none;}
#contents .cont1 .timetable{font-family: 'Nanum Gothic';border-collapse:collapse;border:0.1px rgb(46, 41, 37);}
#contents .cont1 tr {font-size: 15px;text-align: center; height: 55px;}
#contents .cont1 td{font-size: 14px;font-weight: 500;}
#contents .cont1 .small{font-size: 12px;}
/*cont1*/

#contents .cont2{background-color:rgba(99, 68, 50, 0.783);border-radius: 20px;max-height: 470px; overflow: scroll;}
#contents .cont2 table{border:solid rgb(69, 53, 41);}
#contents .cont2 figcaption {font-size: 25px; font-family: 'Bad Script';}
#contents .cont2 img {width: 100%; }

#contents .cont3 {font-size: 20px;font-family: 'Jua';color: rgb(67, 46, 30); max-height: 470px;}
#contents .cont3 span {color: darkred;font-size: 13px;}
#contents .cont3 form {padding: 12px;;background-color:rgba(182, 124, 80, 0.468);border-radius: 20px;overflow: scroll;max-height: 400px;}
#contents .cont3 .Quiz1{padding: 10px; background-color:rgba(255, 255, 255, 0.721);border-radius: 20px;overflow: scroll;max-height: 105px;}
#contents .cont3 .Quiz2{padding: 10px; background-color: rgba(255, 255, 255, 0.721);border-radius: 20px;overflow: scroll;max-height: 105px;}
#contents .cont3 .Quiz3{padding: 10px; background-color:rgba(255, 255, 255, 0.721);border-radius: 20px;overflow: scroll;max-height: 105px;}
/*cont3*/

#footer {display: block;position: relative;}
#footer div {display: inline;line-height: 50px;margin-top: 15px;}
#footer .foot1{float: left;width: 33%; }
#footer .foot1 img{height: 50px; margin-top: 5px; }
#footer .foot2 h3{float: left;width: 33%;font-family: 'Amiri';font-size: 17px;margin: 20px 0px 0px 0px; color: rgb(91, 78, 63);}
#footer .foot3 {float: left;width: 33%;}
#footer .foot3 img {position: relative;height: 25px; width: 25px;padding: 4px;top: 12px;}
#footer .foot3 p {font-size: 15px; display: inline;font-family: 'Amiri';line-height: 20px;}